<div class="container-fluid" >
    <div class="row">
        <div class="text-left"><h5>ร่วมสนับสนุนผ่านทาง</h5></div>
        <div class="col-md-12 d-flex justify-content-center align-items-center">
            <div id="footer-container"></div>
        </div>
    </div>
    <div class="col-md-12"><a href='http://www.freevisitorcounters.com'>freevisitorcounters's Website</a>
        <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=3f11bf57a283aaf8a70a0c5ad329e15027d0d906'></script>
        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1284579/t/0"></script>
    </div>   
</div>  
<script src="js/loadAffiliate.js"></script>
