
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">at-transit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="index.html">ติดตามข่าวรถประจำทาง</a></li>
                <li class="nav-item"><a class="nav-link" href="timetable.html">ตารางเวลา</a></li> 
                <li class="nav-item"><a class="nav-link" href="busstop.html">ดูป้ายหยุดรถ</a></li>            
                <li class="nav-item"><a class="nav-link" href="busline.html">แนะนำเส้นทาง</a></li>
                <li class="nav-item"><a class="nav-link" href="gpsbus.html">GPS ติดตามรถ</a></li>
                <li class="nav-item"><a class="nav-link" href="article.html">บทความ</a></li>      
                <li class="nav-item"><a class="nav-link" href="about.html">เกี่ยวกับเรา</a></li> 
            </ul>
        </div>
    </nav>
